---
import Layout from "@layouts/Layout.astro";
import FormattedEntryContent from "@components/FormattedEntryContent.astro";
import { entryData, getEntryPath } from "@content/entryData";

const NUMBER_OF_POSTS = 5;

const recentEntries = entryData.slice(1).slice(-NUMBER_OF_POSTS).reverse();
---

<Layout>
  {
    recentEntries.map((entry) => (
		<h3><a href={getEntryPath(entry.createdDate, entry.basename)}>{entry.title}</a></h3>
      	<FormattedEntryContent content={entry.excerpt} />
    ))
  }
  <a href="/archives">View Older Posts</a>
</Layout>
